.settings
.classpath
.project
target
node_modules
*log.*.gz
package.json
package-lock.json
references/*.png
references/*.svg
public/cache
public/report/result
public/report/logs
webpack.config.js
webpack.generated.js
*.war
*.log
*.jar
*.zip
/.idea
/public/testCache
